.recommenders/caches/identified-project-coordinates.json
.recommenders/caches/manual-mappings.json
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_2.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_2.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_2.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_2.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_2.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_2.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_2.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_2.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_3
.metadata/.lock
.metadata/.log
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/1b/5057847e52240017168dbc91a01bcdcf
.metadata/.plugins/org.eclipse.core.resources/.history/1d/3052e9aab72500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/2/0075841c9f2500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/20/b0d8f68bb82500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/21/80155a4bb62500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/29/907e7af25126001714cd9ae75315f480
.metadata/.plugins/org.eclipse.core.resources/.history/2a/10a8b8e8ba25001714cd9ae75315f480
.metadata/.plugins/org.eclipse.core.resources/.history/2f/80c7b691b62500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/2f/a06785a952240017168dbc91a01bcdcf
.metadata/.plugins/org.eclipse.core.resources/.history/32/202138bd52240017168dbc91a01bcdcf
.metadata/.plugins/org.eclipse.core.resources/.history/34/807ee108952500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/35/e0f0e5c3992500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/38/a0ea2d7952240017168dbc91a01bcdcf
.metadata/.plugins/org.eclipse.core.resources/.history/3e/e05bb37d3826001714cd9ae75315f480
.metadata/.plugins/org.eclipse.core.resources/.history/43/b08858ffb52500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/46/702f8f6ac724001715c1f4aabc4dc9a1
.metadata/.plugins/org.eclipse.core.resources/.history/50/101c1c933326001714cd9ae75315f480
.metadata/.plugins/org.eclipse.core.resources/.history/59/00e67248b42500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/5f/60fd27c6b42500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/60/0017e329962500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/68/80b355929e2500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/69/401788b5b62500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/77/e0136ac952240017168dbc91a01bcdcf
.metadata/.plugins/org.eclipse.core.resources/.history/7b/00511454922500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/7c/b0e49fb4b72500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/8/301d58719e2500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/84/3037c5db53240017168dbc91a01bcdcf
.metadata/.plugins/org.eclipse.core.resources/.history/85/30c786a952240017168dbc91a01bcdcf
.metadata/.plugins/org.eclipse.core.resources/.history/8b/400c093eb82500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/8b/b03b6437ba25001714cd9ae75315f480
.metadata/.plugins/org.eclipse.core.resources/.history/8d/80c78841942500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/8f/c0d77b05b52500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/90/90873a2fb62500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/94/d00554929e2500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/97/d03f9e02a02500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/9a/408f36cd912500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/9c/908347f2942500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/9c/d04d88a952240017168dbc91a01bcdcf
.metadata/.plugins/org.eclipse.core.resources/.history/c/70d9af7d3826001714cd9ae75315f480
.metadata/.plugins/org.eclipse.core.resources/.history/c7/508b30a3922500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/c7/a081b20e51240017168dbc91a01bcdcf
.metadata/.plugins/org.eclipse.core.resources/.history/c9/70234cf6b62500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/ca/40101e0cb32500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/cb/00fff8f09e2500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/cb/f06c837e52240017168dbc91a01bcdcf
.metadata/.plugins/org.eclipse.core.resources/.history/d8/9082827e52240017168dbc91a01bcdcf
.metadata/.plugins/org.eclipse.core.resources/.history/da/4077db7a892500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/dd/30aa20d6b62500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/e0/a03f7b0fa02500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/e3/10f763d79f2500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/e4/103f268bb42500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/ec/2047e09952240017168dbc91a01bcdcf
.metadata/.plugins/org.eclipse.core.resources/.history/f1/c0b534f552240017168dbc91a01bcdcf
.metadata/.plugins/org.eclipse.core.resources/.history/f3/a0100d27b72500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/f9/a0e86bc952240017168dbc91a01bcdcf
.metadata/.plugins/org.eclipse.core.resources/.history/fd/a0a5c54fb92500171e1fae1097a6a098
.metadata/.plugins/org.eclipse.core.resources/.history/ff/50256bc952240017168dbc91a01bcdcf
.metadata/.plugins/org.eclipse.core.resources/.history/ff/80974e0253240017168dbc91a01bcdcf
.metadata/.plugins/org.eclipse.core.resources/.projects/MyJavaExtension/.indexes/ac/92/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/MyJavaExtension/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/MyJavaExtension/.indexes/e4/ac/92/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/MyJavaExtension/.indexes/e4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/MyJavaExtension/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/MyJavaExtension/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/MyJavaExtension/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/MyJavaExtension/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/5.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.workbench.renderers.swt.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.recommenders.completion.rcp.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.jdt.core/1484076330.index
.metadata/.plugins/org.eclipse.jdt.core/1507339265.index
.metadata/.plugins/org.eclipse.jdt.core/1651349548.index
.metadata/.plugins/org.eclipse.jdt.core/1670528678.index
.metadata/.plugins/org.eclipse.jdt.core/1948745554.index
.metadata/.plugins/org.eclipse.jdt.core/2261558828.index
.metadata/.plugins/org.eclipse.jdt.core/2945162093.index
.metadata/.plugins/org.eclipse.jdt.core/3222502996.index
.metadata/.plugins/org.eclipse.jdt.core/3678980623.index
.metadata/.plugins/org.eclipse.jdt.core/3764404749.index
.metadata/.plugins/org.eclipse.jdt.core/383033059.index
.metadata/.plugins/org.eclipse.jdt.core/3876561862.index
.metadata/.plugins/org.eclipse.jdt.core/3930511455.index
.metadata/.plugins/org.eclipse.jdt.core/4142306923.index
.metadata/.plugins/org.eclipse.jdt.core/4236009997.index
.metadata/.plugins/org.eclipse.jdt.core/430205200.index
.metadata/.plugins/org.eclipse.jdt.core/47423239.index
.metadata/.plugins/org.eclipse.jdt.core/509712851.index
.metadata/.plugins/org.eclipse.jdt.core/622347959.index
.metadata/.plugins/org.eclipse.jdt.core/83085761.index
.metadata/.plugins/org.eclipse.jdt.core/900771366.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/MyJavaExtension/2017/4/16/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/MyJavaExtension/2017/4/16/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/MyJavaExtension/_k.fdt
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/MyJavaExtension/_k.fdx
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/MyJavaExtension/_k.fnm
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/MyJavaExtension/_k.frq
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/MyJavaExtension/_k.nrm
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/MyJavaExtension/_k.prx
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/MyJavaExtension/_k.tii
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/MyJavaExtension/_k.tis
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/MyJavaExtension/_l.cfs
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/MyJavaExtension/segments.gen
.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/MyJavaExtension/segments_l
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/version.ini
